html, body {
  background: #30b8c3;
  background: #13a5b1;
}

body{
  font-family: Nunito,sans-serif;
}

#banner .content header p {
  font-weight: 300;
  opacity: .7;
  margin-bottom: 40px;
}
#banner::after{
  background-image: -moz-linear-gradient(top, rgba(101, 34, 208, 0.5), rgba(21, 74, 103, 0.7)), url(images/overlay.png);
  background-image: -webkit-linear-gradient(top, rgba(101, 34, 208, 0.5), rgba(21, 74, 103, 0.7)), url(images/overlay.png);
  background-image: -ms-linear-gradient(top, rgba(101, 34, 208, 0.5), rgba(21, 74, 103, 0.7)), url(images/overlay.png);
  background-image: linear-gradient(top, rgba(101, 34, 208, 0.5), rgba(21, 74, 103, 0.7)), url(images/overlay.png);
}
#banner .content header h2 {
  font-weight: 700;
  color: #aece0b;
}
.button.primary {
  background-color: #e13652;
}
/*
.button.primary:hover {
  background-color: #292929;
}
.button.primary:active {
  background-color: #292929;
} */
h2{
  line-height: 1em;
}
.icon.major {
  background: #f0f8f9;
}
.icon.major.alt::before {
  color: #0c7b84 !important;
  text-shadow: none;
}

#download {
  /* background-color: #109ba7; */
  padding: 2em 0 !important;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
}

#banner {
  background-color: #26959e;
  background-image: url('https://images.unsplash.com/photo-1453749024858-4bca89bd9edc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3fce436c0d414fb71dac3ffcd421725f&auto=format&fit=crop&w=1007&q=80');
}

#logo a{
  font-weight: 700;
}

header.major::after {
  background: #ffffff;
}

header b{
  font-weight: 700 !important;
}

.submission:hover, 
.submission:active {
  box-shadow: inset 0 0 0 1px #ffffff;
  background-color: #ffffff !important;
}